.underlineActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-4);

  // 确保按钮均分空间
  button {
    flex: 1;
  }
}
